@import 'styles/font-mixins';

.TokenMinting {
  &__table {
    &-section {
      margin: 0 2rem;
    }
  }

  &__table {
    box-shadow: 0 1px 13px rgba(0, 0, 0, 0.06);
    display: block;
    overflow-x: auto;
    width: 100%;

    &-tbody {
      &-tr {
        &:not(:last-child) {
          border-bottom: 1px solid var(--color-gray-075);
          white-space: nowrap;
        }

        &:last-child {
          width: 100%;
        }

        &-td {
          @extend %body2;
          font-weight: var(--font-weight-semibold);
          min-width: 120px;
          padding: 8px 16px;
          &:not(:last-child) {
            border-right: 1px solid var(--color-gray-075);
          }
        }

        @media (max-width: 768px) {
          &:not(:last-child) {
            white-space: normal;
          }
        }
      }
    }

    &-thead {
      &-th {
        @extend %body2;
        border-bottom: 1px solid var(--color-gray-075);
        font-weight: var(--font-weight-semibold);
        padding: 8px 16px;
        text-align: left;

        &:not(:last-child) {
          border-right: 1px solid var(--color-gray-075);
          white-space: nowrap;
        }

        &:last-child {
          width: 100%;
        }
      }

      @media (max-width: 768px) {
        &:not(:last-child) {
          white-space: normal;
        }
      }
    }
  }
}
