.Tutorials {
  display: grid;
  grid-template-columns: 240px auto;
  height: 100%;

  &__error {
    align-items: center;
    color: var(--color-danger);
    display: flex;
    height: 64px;
    justify-content: center;
  }

  &__left-menu {
    grid-column: 1 / span 1;
  }

  &__loader {
    display: grid;
    place-items: center;
  }

  &__right-content {
    padding: 12px 48px 48px;
  }

  @media (max-width: 1366px) {
    grid-template-columns: auto;
    grid-template-rows: fit-content(0) auto;

    &__left-menu {
      display: none;
    }
  }

  @media (max-width: 992px) {
    &__right-content {
      padding-left: 12px;
      padding-right: 12px;
    }
  }
}
