#Collections {
  margin-bottom: 4rem;
}

.Collections {
  &__table {
    margin-bottom: 32px;
    margin-top: 32px;

    &-tbody {
      &-tr {
        &-td {
          &:not(:first-child) {
            color: var(--color-gray-600);
          }
        }
      }
    }
  }
}

.Note {
  margin: 2rem 0;
}
