@import 'styles/font-mixins';

.Tools {
  background: url('./background-pattern.webp');
  background-color: var(--color-white);
  background-position: center;
  background-size: cover;

  &__container {
    padding: 80px 0 160px;

    @media (max-width: 1366px) {
      padding: 80px 48px 160px;
    }

    @media (max-width: 768px) {
      padding: 72px 24px 96px;
    }
  }

  &__title {
    @extend %h1;
    font-weight: var(--font-weight-semibold);
    margin-bottom: 40px;
  }

  &__content-container {
    border-radius: 9px;
    display: grid;
    gap: 40px;
    grid-template-columns: 1fr 1fr;
    justify-content: center;

    @media (max-width: 1366px) {
      gap: 32px;
    }

    @media (max-width: 768px) {
      gap: 24px;
      grid-template-columns: 1fr;
    }
  }

  &__tool {
    background-color: var(--color-neutral-075);
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    padding: 40px 32px;
  }

  &__tool-title {
    @extend %h1;
    font-weight: var(--font-weight-medium);
    margin-bottom: 24px;
  }

  &__tool-description {
    @extend %body1;
    color: var(--color-gray-500);
    margin-bottom: 40px;
  }

  &__tool-button {
    background-color: var(--color-white);
    width: fit-content;
  }
}
