@import 'styles/font-mixins';

.DeveloperPortalCards {
  background-color: var(--color-neutral-075);

  &__container {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    padding: 48px 0px;

    @media (max-width: 1366px) {
      padding: 72px 48px;
    }

    @media (max-width: 768px) {
      flex-direction: column;
      padding: 48px 24px;
    }
  }

  &__card {
    background-color: var(--color-white);
    background-position: right;
    background-size: cover;
    border-radius: 12px;
    color: white;
    min-width: 432px;
    padding: 48px 24px;

    &:not(:last-child) {
      margin-right: 40px;
    }

    @media (max-width: 1366px) {
      &:not(:last-child) {
        margin-right: 32px;
      }
    }

    @media (max-width: 992px) {
      min-width: 324px;
      padding: 24px 24px;
    }

    @media (max-width: 768px) {
      background-color: var(--color-white);
      min-width: 100%;
      width: 100%;

      &:not(:last-child) {
        margin-bottom: 24px;
        margin-right: 0;
      }
    }
  }

  &__card-title {
    @extend %h2;
    color: var(--color-neutral-900);
    font-weight: var(--font-weight-medium);
    margin-bottom: 16px;
  }

  &__card-description {
    @extend %body1;
    color: var(--color-gray-500);
    margin-bottom: 16px;
  }

  // need to increase specificity to override base css
  &__card-button.ButtonWebsite.ButtonWebsite--outlined {
    align-items: center;
    display: flex;
  }
}
