@import 'src/styles/mixins';
@import '../../shared';
@import 'styles/z-index';

.LivingWhitepaperSideMenu {
  &__section {
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  &__section-header {
    @include top-nav-button;
    color: var(--color-gray-800);
    display: flex;
    font-weight: var(--font-weight-bold);
    justify-content: space-between;
    padding: 0;
    text-align: left;
    width: 100%;

    &--active {
      color: var(--color-gray-900);
      font-weight: var(--font-weight-bold);
    }
  }

  &__link {
    color: var(--color-gray-300);
    cursor: pointer;
    display: block;
    font-weight: var(--font-weight-medium);

    margin: 8px 0 8px 16px;

    &:hover {
      color: var(--color-blue-gray-1000);
    }

    &--active {
      color: var(--color-gray-900);
    }
  }

  &__toggle-icon {
    align-self: flex-start;
  }
}
