@import '../../shared';
@import 'styles/z-index';

.ProjectsDeveloperPortalLayout {
  &__main-content {
    display: flex;
    flex-direction: row;
  }

  &__left-content {
    max-height: calc(100vh - #{$top-nav-height} - #{$breadcrumbs-height});
    overflow-y: auto;
    padding: 32px 32px 32px 0;
    position: sticky;
    top: $top-nav-height + $breadcrumbs-height;
    z-index: $z-index-dev-portal-sidemenu;

    @media (max-width: 1366px) {
      padding: 32px 48px;
      width: 312px;
    }

    @media (max-width: 992px) {
      display: none;
    }
  }

  &__right-content {
    border-left: 1px solid var(--color-gray-075);
    width: 100%;

    @media (max-width: 992px) {
      border-left: none;
    }
  }

  &__breadcrumb {
    position: sticky;
    top: $top-nav-height;
    z-index: $z-index-dev-portal-breadcrumb;
  }
}
