@import 'src/styles/mixins';
@import '../../shared';
@import 'styles/z-index';

.ProjectsSideMenu {
  width: 100%;
  &__section {
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  &__section-header {
    @include top-nav-button;
    color: var(--color-gray-500);
    display: flex;
    font-weight: var(--font-weight-bold);
    justify-content: space-between;
    padding: 0;
    text-align: left;
    width: 100%;
  }
  
  &--active {
    color: var(--color-gray-900);
    font-weight: var(--font-weight-bold);
  }

  &__link {
    color: var(--color-gray-300);
    cursor: pointer;
    display: block;
    font-size: var(--font-size-body3);
    font-weight: var(--font-weight-medium);
    margin-left: 16px;

    &:hover {
      color: var(--color-blue-gray-1000);
    }

    &:not(:last-child) {
      margin: 8px 0px 8px 16px;
    }

    &--active {
      color: var(--color-gray-900);
    }
  }

  &__approved-projects {
    &-container {
      max-height: 400px;

      -ms-overflow-style: none; /* Hide scrollbar for IE and Edge */
      overflow-y: scroll;
      scrollbar-width: none; /* Hide scrollbar for Firefox */
      /* Hide scrollbar for Chrome, Safari and Opera */
      &::-webkit-scrollbar {
        display: none;
      }
    }
  }

  &__toggle-icon {
    align-self: flex-start;
  }
}
